<div class="container d-flex justify-content-between">
  <div class="title">
    <p><span class=""><%= link_to t('head_profile.profile'), profile_path, class: "text-dark" %></span></p>
  </div>
  <div class="title">
    <p><span class=""><%= link_to t('head_profile.participate'), participation_path, class: "text-dark" %></span></p>
  </div>
  <div class="title">
    <p><span class=""><%= link_to t('head_profile.my_goods'), my_goods_path, class: "text-dark" %></span></p>
  </div>
</div>