<div class="row good-box border border-dark rounded">
  <div class="col-2 info-person">
    <img class="person-img" src="/assets/200.jpeg" alt="">
<!--    <p class="rating">Rating: +100</p>-->
    <div class="reviews">
      <span><%= link_to user&.username, profile_path(id: user&.id) %></span>
    </div>
  </div>

  <div class="col-10 good-content d-flex align-items-start flex-column">
    <div class="body-review">
      <%= review.text %>
    </div>
    <div class="good-info mt-auto">
      <div class="row">
        <p class="col-auto text-info"><%= t('review.date') %>:</p>
        <p class="col-auto text-info"><%= review.created_at %></p>
      </div>
    </div>
  </div>
</div>