<%= render 'head', user: @user %>

<!-- Begin page content -->
<main role="main" class="d-flex justify-content-center container">
  <div class="row container d-flex justify-content-between">
    <div class="col-9 row">
      <div class="col-4 good-new">
        <h3 class="main-title"><%= t('index.new_goods') %></h3>
      </div>


      <% @descriptions.each do |description| %>
        <%= render 'product', description: description, user: description.prod&.userr %>
      <% end %>


    </div>

<!--    <div class="col-3 info-right">-->
<!--      <div class="info-box">-->
<!--        <div class="info-title">-->
<!--          <h3 class="main-title">Popular Categories</h3>-->
<!--        </div>-->
<!--        <div class="tags-container">-->
<!--          <a href="#" class="tag text-dark">perl</a>-->
<!--          <a href="#" class="tag text-dark">python</a>-->
<!--          <a href="#" class="tag text-dark">TehnoPark</a>-->
<!--          <a href="#" class="tag text-dark">MySQL</a>-->
<!--          <a href="#" class="tag text-dark">django</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  </div>
</main>
<script type="text/javascript">
    $('.js-stake').click(function(ev) {

        var ctx = new Map();

        ev.preventDefault();
        var $this = $(this),
            id = $this.attr('id');
        ctx['description_id'] = id;
        console.log("CONTEXT " + ctx['description_id']);
        $.ajax('/raise?id=' + id, {
            method: 'POST',
            data: ctx
        }).done(function(data) {
            $('#price').text(Math.round(data.price) + '$');
            $('#username-' + id).text(data.username);
            $('#price-' + id).text('<%= t('description.current_price') %>: ' + data.price_cur + '$');
            console.log("DATA " + data.price);
        });
        console.log("HERE " + id);
    });
</script>